---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import CardECommerce1 from '../components/CardECommerce1.astro';
import CardECommerce2 from '../components/CardECommerce2.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Nova Eventos - Cumpleaños Infantil">
    <div id="cumpleaniosInfantil" class="pt-20">
        <Navbar></Navbar>
        <CardECommerce1 uniqueId="cumpleañosInfantil1"></CardECommerce1>
        <CardECommerce2></CardECommerce2>
        <CardECommerce1 uniqueId="cumpleañosInfantil2"></CardECommerce1>
        <Footer></Footer>
    </div>
</Layout>