---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import CardECommerce1 from '../components/CardECommerce1.astro';
import CardECommerce2 from '../components/CardECommerce2.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
---
<Layout title="Nova Eventos - Cumplea単os">
    <div id="cumplea単os" class="pt-20">
        <Navbar></Navbar>
        <CardECommerce1 uniqueId="cumplea単os1"></CardECommerce1>
        <CardECommerce2></CardECommerce2>
        <CardECommerce1 uniqueId="cumplea単os2"></CardECommerce1>
        <Footer></Footer>
    </div>
</Layout>