---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import CardECommerce1 from '../components/CardECommerce1.astro';
import CardECommerce2 from '../components/CardECommerce2.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Nova Eventos - Cumpleaños">
    <div id="cumpleaños" class="pt-20">
        <Navbar></Navbar>
        <CardECommerce1 title='Pieza Central para Decoración de Eventos' description='Diseñado para eventos como cumpleaños, bautizos, graduaciones y muchos más, combina elegancia y comodidad. Fabricado con materiales resistentes y fácil de transportar, garantiza un toque sofisticado en cualquier decoración.' uniqueId="cumpleanios1" images={['/cumpleanios/cumple1.webp', '/cumpleanios/cumple2.webp','/cumpleanios/cumple3.webp']}></CardECommerce1>
        <CardECommerce2 title='Pieza Central para Decoración de Eventos' description='Diseñado para eventos como cumpleaños, bautizos, graduaciones y muchos más, combina elegancia y comodidad. Fabricado con materiales resistentes y fácil de transportar, garantiza un toque sofisticado en cualquier decoración.' uniqueId="cumpleanios2" images={['/cumpleanios/cumple2.webp', '/cumpleanios/cumple3.webp','/cumpleanios/cumple4.webp']}></CardECommerce2>
        <CardECommerce1 title='Pieza Central para Decoración de Eventos' description='Diseñado para eventos como cumpleaños, bautizos, graduaciones y muchos más, combina elegancia y comodidad. Fabricado con materiales resistentes y fácil de transportar, garantiza un toque sofisticado en cualquier decoración.' uniqueId="cumpleanios3" images={['/cumpleanios/cumple1.webp', '/cumpleanios/cumple2.webp','/cumpleanios/cumple3.webp']}></CardECommerce1>
        <Footer></Footer>
    </div>
</Layout>