---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import NosotrosSection from '../components/NosotrosSection.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Nova Eventos - Sobre Nosotros">
    <div id="" class="pt-20">
        <Navbar></Navbar>
        <NosotrosSection></NosotrosSection>
        <Footer></Footer>
    </div>
</Layout>